
#header {
	position:fixed;
	height:40px;
	width:100%;
	background-color: #73AD21;
       top:0;
       left:0;
	z-index:5000;
	}
	
	#header ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	#header a:link, a:visited {
		display: block;
		width: 120px;
		height: 40px;
		font-weight: bold;
		font-family: "Arial";
		font-size: 200%;
		color: #FFFFFF;
		background-color:  #73AD21;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

	#header a:hover, a:active {
		background-color: #33cccc;
	}
	
	#nav li{
		float:left;
	}
 
	#headSpacer{
		height:30px;
	}

#main{
	padding:10px;
	padding-top:0px;
	text-align:center;
	height:1000px;
       min-width: 1100px;
       background: -webkit-linear-gradient(#C2FFFF,#FFCC99); /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(#C2FFFF,#FFCC99); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(#C2FFFF,#FFCC99); /* For Firefox 3.6 to 15 */
       background: linear-gradient(#C2FFFF,#FFCC99); /* Standard syntax(must be last) */
	border-radius: 50px;
	border: 2px solid #73AD21;
}

body {
 text-align: center;
 font-family: 'Roboto', serif;
 font-size:15px;
 background-color:#e3e3e8;
}


.dragdealer {
  position: relative;
  height: 30px;
  background: #EEE;
  border-radius: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
   }
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.dragdealer .red-bar {
  width: 60px;
  height: 30px;
  background: #73AD21;
  border-radius: 5px;
  color: #FFF;
  line-height: 30px;
  text-align: center;
}
.dragdealer .disabled {
  background: #898989;
}
